@page "/"

<PageTitle>Index</PageTitle>

<h1>Arriba las Chivas</h1>
<h2>Abajo las aguilas</h2>

Bienvenido a tu primer Aplicacion en Blazor


<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10"/>
<Counter IncrementAmount="5"/>
<Counter/>
